%section.user__my-page
  .user__my-page__box
    %h2 マイページ
    .user__my-page__box__name
      ユーザー名:
      %per.user__name 
        = @user.nickname
    .user__my-page__box__button
      .user__my-page__box__button-credit
        = link_to "クレジットカード登録", "#", class: "button" 
    .user__my-page__box__items
      .ItemBoxes
        .ItemBoxes__title 出品した商品
        - @items.each do |item|
          
          = link_to item, class: "ItemBox" do
            = image_tag Image.where(item_id: item)[0].image.url
            .ItemBox__name
              = item.name
            %i.fas.fa-chevron-right.icon

