%header.header
  .header__top
    .header__top-img
      = link_to root_path do
        = image_tag 'furima_img.svg'
    .header__top-form
      %form
        %input.search-input-text{:name => "text", :placeholder => "キーワードで探す", :type => "text", :value => ""}/
        %button{type: "submit", class:'btn button-input-text'}
          %i
            = icon('fas', 'search')
  .header__bottom
    .header__bottom-left
      .categories
        %ul
          %li
            = link_to "#", class: "categories__search search__btn" do
              %i.fas.fa-bars.categories__icon
              カテゴリーから探す
            %ul.categories__parent.categories__list
              - @parents.each do |parent|
                %li
                  = link_to "/items/#{parent.id}/select_category_index", class: "categories__parent--name" do
                    = parent.name
                  %ul.categories__child.categories__list
                    - parent.children.each do |child|
                      %li
                        = link_to "/items/#{child.id}/select_category_index", class: "categories__child--name" do
                          = child.name
                        %ul.categories__grandchild.categories__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to "/items/#{grandchild.id}/select_category_index", class: " categories__child--name" do
                                = grandchild.name 
      .bland                          
        = link_to "ブランド", "#"        
    - if user_signed_in?
      .header__bottom-right
        = link_to "マイページ", user_path(current_user)
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .header__bottom-right
        = link_to "ログイン", new_user_session_path 
        = link_to "新規登録",  new_user_registration_path
= render 'layouts/notifications'
