%section.item-show
  .item-show__box
    .item-show__box__title
      %h2 
        = @item.name
    .item-show__box__main
      .itemImageArea
        .itemImageArea-select
          = image_tag @image.first.image.url, class: "imageSelect"
        .itemImageArea-sub
          - @image.ids.each do |i|
            .subImage
              = image_tag Image.find(i).image.url, id: "image", class: "subImage__content"
      .item-show__box__main-right
        %table
          %tr
            %th
              出品者
            %td
              = link_to "#" do
                = User.find(@item.seller_id).nickname
          %tr
            %th
              カテゴリー
            %td
              = link_to "#" do
                ＞
                = @item_parentId.name
                %br
              = link_to "#" do
                ＞
                = @item_childId.name
                %br
              = link_to "#" do
                ＞
                = @item_grandchildId.name
          %tr
            %th
              ブランド
            %td
              = link_to "#" do
                = @item.brand
          %tr
            %th
              商品の状態
            %td
              = @condition.name
          %tr
            %th
              配送料の負担
            %td
              = @shipping_cost.name
          %tr
            %th
              配送元地域	
            %td
              = @prefecture.name
          %tr
            %th
              発送日の目安
            %td
              = @shipping_time.name
    .item-show__box__price
      %p
        ¥
        = @price 
        - if @shipping_cost.id == 1
          %span
            (税込)送料込み
        - else
          %span
            (税込)
    .item-show__box__button
      - if user_signed_in? && current_user.id == @item.seller_id
        = link_to "商品編集",edit_item_path(@item.id), class: "button"
          
      - else
        %button{type: "submit", class: "button"}
          .letter
            購入画面に進む
    .item-show__box__description
      = @item.description


-# ＜追加実装のコメント部分＞
  -# .item-show__comment__box
  -#   .item-show__comment__box-form
  -#     %from
  -#       %textarea{name: "comment", type: "text",  placeholder: "コメントする", rows: "2", class: "input"}
  -#       %button{type: "submit", class: "button"}
  -#         .letter
  -#           コメントする
