!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample79a
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = include_gon
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    %header.header
      .header__top
        .header__top-img
          = link_to root_path do
            = image_tag 'furima_img.svg'
        .header__top-form
          %form
            %input.search-input-text{:name => "text", :placeholder => "キーワードで探す", :type => "text", :value => ""}/
            %button{type: "submit", class:'btn button-input-text'}
              %i
                = icon('fas', 'search')
      .header__bottom
        .header__bottom-left
          .categories
            %ul
              %li
                = link_to "#", class: "categories__search search__btn" do
                  %i.fas.fa-bars.categories__icon
                  カテゴリーから探す
                %ul.categories__parent.categories__list
                  - @parents.each do |parent|
                    %li
                      = link_to "/items/#{parent.id}/select_category_index", class: "categories__parent--name" do
                        = parent.name
                      %ul.categories__child.categories__list
                        - parent.children.each do |child|
                          %li
                            = link_to "/items/#{child.id}/select_category_index", class: "categories__child--name" do
                              = child.name
                            %ul.categories__grandchild.categories__list
                              - child.children.each do |grandchild|
                                %li
                                  = link_to "/items/#{grandchild.id}/select_category_index", class: " categories__child--name" do
                                    = grandchild.name 
          .bland                          
            = link_to "ブランド", "#"        
        - if user_signed_in?
          .header__bottom-right
            = link_to "マイページ", user_path(current_user)
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .header__bottom-right
            = link_to "ログイン", new_user_session_path 
            = link_to "新規登録",  new_user_registration_path
    = render 'layouts/notifications'
    = yield
    %footer.footer
      .footer__top
        .footer__top-box
          %h4
            FURIMAについて
          %ul
            %li
              =link_to "会社(概要)", "#"
            %li
              =link_to "プライバシーポリシー", "#"
            %li
              =link_to "FURIMA利用規約", "#"
            %li
              =link_to "ポイントに関する特約", "#"
        .footer__top-box
          %h4
            FURIMAを見る
          %ul
            %li
              =link_to "カテゴリー一覧", "#"
            %li
              =link_to "ブランド一覧", "#"
        .footer__top-box
          %h4
            FURIMAを見る
          %ul.footer__top-box__list
            %li
              =link_to "FURIMAガイド", "#"
            %li
              =link_to "FURIMAロゴ利用ガイドライン", "#"
            %li
              =link_to "お知らせ", "#"
      .footer__bottom
        = image_tag 'furima_bottom_img.svg', class: "bottom__img"
        %p @FURIMA


